
<h6 class="text-muted">
    References
</h6>

<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/aligned-references-yx.png" href="http://google.com" >
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/aligned-references-ps.png">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/aligned-references-ac.png">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/aligned-references-jk.png">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/aligned-references-jb.png">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/aligned-references-bl.png">
  </ng-template>
</ngb-carousel>

<div class="centerBlock">
  <p style="font-size:75%;">Contact information available upon request.</p>
</div>
