
<h6 class="text-muted">
    Other Interests
</h6>
<p>
  I am a big fan of the open source and single board computer movements.  My two go-to boards are currently the
  <a target="_blank" href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/">raspberry pi 3</a> and
  <a target="_blank" href="http://www.hardkernel.com/main/products/prdt_info.php?g_code=G145457216438">odroid-c2</a>.
  Some of my favorite open source SBC projects include
  <a target="_blank" href="https://nextcloud.com/">Nextcloud</a>,
  <a target="_blank" href="https://openvpn.net/">OpenVPN</a>,
  <a target="_blank" href="https://www.gerritcodereview.com/">gerrit</a>,
  <a target="_blank" href="https://github.com/ccrisan/motioneye">motioneye</a>,
  <a target="_blank" href="https://retropie.org.uk/">retropie</a>,
  <a target="_blank" href="https://www.nagios.org/">nagios</a>,
  <a target="_blank" href="https://wiki.znc.in/ZNC">znc</a>, and
  <a target="_blank" href="https://threatstream.github.io/mhn/">mhn</a>.
</p>
