<div class ="jumbotron">

  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="centerBlock">
        <img src="assets/person-place-holder.ico" class="img-fluid">
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="centerBlock">
            <button md-fab >
              <a target="_blank" href="https://github.com/altogother/webm.libvpx-tester">
                <img src="assets/github-logo.png" class="img-fluid">
              </a>
            </button>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="centerBlock">
            <button md-fab color="primary">
              <a target="_blank" href="https://github.com/altogother/webm.libvpx-tester">
                <img src="assets/linkedin-logo.png" class="img-fluid">
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2>James Berry</h2>
      <h6>jamesaberry@gmail.com</h6>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    </div>

  </div>
</div>
