<div class ="jumbotron">

  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="centerBlock">
        <img src="assets/person-place-holder.ico" class="img-fluid">
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="centerBlock">
            <a target="_blank" href="https://github.com/jamesaberry">
              <img src="assets/github-logo.png" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="centerBlock">
            <a target="_blank" href="https://www.linkedin.com/in/james-berry-bb2b177/">
              <img src="assets/linkedin-logo.png" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 style="color:white;">James Berry</h2>
        <h6 style="color:white;">jamesaberry@gmail.com</h6>
        <br>
        <p style="color:white;">Self-driven Software Engineer with 10 years experience in systems development life cycles. Strong background in software testing and test methodologies. Well versed in Agile/Scrum frameworks. Skilled at abstracting large problems into smaller sub-tasks for efficient resolution.</p>
        <br>
        <p style="color:white; font-size:75%;">Java, Swing, C/C++, Python, Bash, iBATIS, SQL, Make, Ant, Ivy, Maven, Mockito, Gcov, JUnit, GIT, Jenkins, Tomcat, Ansible, Vagrant, Sonarqube, Eclipse, IntelliJ, Visual Studios, Ubuntu, CentOS, Windows, Agile, TDD, Pair Programming.</p>
      </div>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>

  </div>
</div>
