<div class ="jumbotron">

  <div class="row">

    <div class="col-xs-3 col-md-3">
      <img src="assets/person-place-holder.ico" class="img-fluid">
      <br>
      <br>
      <div layout="row" layout-align="space-around center">
        <button md-button class="md-fab" aria-label="Eat cake">

        </button>
        <button type="button" class="btn btn-primary btn-circle btn-xl">
          <img src="assets/github-logo.png">
        </button>
      </div>
    </div>

    <div class="col-xs-6 col-md-6">
      <h2>James Berry</h2>
      <h6>jamesaberry@gmail.com</h6>
    </div>

    <div class="col-xs-3 col-md-3">
    </div>

  </div>
</div>
