.jumbotron {
    background-image: url("/assets/jumbotron-background.png");
    background-color: #17234E;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.centerBlock {
  display: table;
  margin: auto;
}
